<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex.gt-sm="33.33" fxFlex="100">
    <mat-card class="bg-purple fijo">
      <!-- <mat-card-content>
        <div class="stats text-center" *ngIf="(tipoOrden | async)">
          <h5 class="text-white m-0">Total a Pagar</h5>
          <h2 class="text-white m-0">{{ (tipoOrden | async).totalComprobante | currency: 'ARS':'symbol'}}</h2>
        </div>
      </mat-card-content> -->
      <mat-card-content>
        <div class="stats text-center">
          <h5 class="text-white m-0">Total a Pagar</h5>
          <h2 class="text-white m-0">{{ tipoOrden.totalComprobante | currency: 'ARS':'symbol' }}</h2>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="m-t-10">
  <form [formGroup]="medioPagoForm">
    <div fxLayout="row wrap">
      <div fxFlex="100">
        <mat-radio-group
          color="warn"
          fxLayout="column"
          fxLayoutAlign="center start"
          fxLayout.gt-xs="row"
          fxLayoutAlign.gt-sm="space-evenly center"
          class="radio-group"
          formControlName="medioPagoSelected"
          name="medios"
          (change)="changeMedioPago()"
        >
          <mat-radio-button class="radio-button" *ngFor="let medio of allMediosPago" [value]="medio">
            {{ medio.nombre }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="p-30">
      <hr />
    </div>

    <jhi-efectivo *ngIf="medioPagoSelected.value?.id === 1" (formInfo)="formValid($event)"></jhi-efectivo>
    <jhi-cheque
      *ngIf="medioPagoSelected?.value?.id === 2"
      [totalPagar]="tipoOrden.totalComprobante"
      (formInfo)="formValid($event)"
    ></jhi-cheque>
    <jhi-transferencia *ngIf="medioPagoSelected.value?.id === 3" (formInfo)="formValid($event)"></jhi-transferencia>
  </form>
</div>
