<mat-card>
  <mat-card-header fxLayoutAlign="space-between start">
    <mat-card-title>{{ titleForm }}</mat-card-title>

    <div fxLayout="column" fxLayout.gt-xs="row">
      <button mat-raised-button color="primary" [routerLink]="['../ordenesPago']" matTooltip="Volver al Listado">Volver</button>
    </div>
  </mat-card-header>
  <hr />
  <mat-card-content>
    <jhi-alert-error></jhi-alert-error>

    <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
      <mat-step [stepControl]="form1.tipoPagoForm">
        <ng-template matStepLabel>Tipo de Orden de Pago</ng-template>
        <jhi-step1-tipo-orden #form1></jhi-step1-tipo-orden>
        <div class="text-right p-t-20">
          <button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </mat-step>

      <mat-step label="Medio de Pago" [stepControl]="form2.medioPagoForm">
        <jhi-step2-medio-pago (impresoraInfo)="managerImpresora($event)" #form2> </jhi-step2-medio-pago>

        <div class="text-right p-t-20">
          <button mat-stroked-button color="warn" matStepperPrevious>Atras</button>
          <button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </mat-step>

      <mat-step label="Confirmar">
        <jhi-step3-confirmar-pago *ngIf="form2.medioPagoForm"></jhi-step3-confirmar-pago>
        <div class="text-right p-t-20">
          <button mat-stroked-button color="warn" matStepperPrevious>Atras</button>
          <button mat-raised-button color="primary" [disabled]="isSaving" (click)="save()">Confirmar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
