<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-header fxLayoutAlign="space-between start">
        <mat-card-title> Lista de Roles </mat-card-title>
        <div fxLayout="column" fxLayout.gt-xs="row">
          <div>
            <!-- fxFlex.gt-md="75" -->
            <button
              *jhiHasAnyAuthority="'Accion Crear Rol'"
              mat-raised-button
              color="primary"
              [routerLink]="['nuevoRol']"
              matTooltip="Crear un nuevo rol"
            >
              Nuevo Rol
            </button>
          </div>
        </div>
      </mat-card-header>
      <hr />
      <jhi-alert-error></jhi-alert-error>

      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-sm="33" flFlex.gt-md="66" fxFlex="100">
            <mat-form-field>
              <input matInput type="input" id="searchInput" autocomplete="off" placeholder="Filtrar" #searchInput />

              <mat-hint align="start">Buscar por Nombre </mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="responsive-table m-t-15 mat-elevation-z2">
          <mat-table
            [dataSource]="dataSource"
            class="table-items-list"
            #table
            matSort
            #sort1="matSort"
            matSortActive="id"
            matSortDirection="asc"
            matSortDisableClear
          >
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">ID:</span>
                {{ element.id }}</mat-cell
              >
            </ng-container>

            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Rol</mat-header-cell>
              <mat-cell *matCellDef="let element" class="font-medium">
                <span class="header-label">Nombre:</span>
                {{ element.nombre }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="esAdmin">
              <mat-header-cell *matHeaderCellDef>Admin</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Admin:</span>
                {{ element.esAdmin ? 'Admin' : '-' }}</mat-cell
              >
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
              <mat-cell *matCellDef="let element" class="action-link">
                <!-- <a class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>
                  <a class="m-r-10 cursor-pointer"><i class="fa fa-trash text-danger"></i></a> -->

                <div fxLayoutAlign="start space-around">
                  <div>
                    <button
                      *jhiHasAnyAuthority="'Accion Editar Rol'"
                      [routerLink]="[element.id, 'editarRol']"
                      mat-icon-button
                      color="primary"
                      matTooltip="Editar Rol"
                    >
                      <mat-icon class="icon-08x">{{ element.id == 1 ? 'visibility' : 'create' }}</mat-icon>
                    </button>
                  </div>
                  &nbsp;
                  <div>
                    <button
                      mat-icon-button
                      color="warn"
                      matTooltip="Borrar rol"
                      type="button"
                      (click)="deleteRol(element)"
                      [disabled]="element.id == 1"
                    >
                      <mat-icon class="icon-08x"> delete</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>

        <!-- DataSource properties -->

        <div class="font-medium text-center p-30">
          <div *ngIf="!dataSource.hasItems">No se encontraron registros</div>
          <div *ngIf="dataSource.isPreloadTextViewed$ | async">Cargando...</div>
        </div>

        <div fxLayoutAlign="end center">
          <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
          <mat-paginator
            [pageSize]="10"
            [pageSizeOptions]="[3, 5, 10]"
            [length]="dataSource.paginatorTotal$ | async"
            [showFirstLastButtons]="true"
          >
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
