<!-- <div class="alerts" role="alert">
  <div *ngFor="let alert of alerts" [ngClass]="setClasses(alert)">
    <ngb-alert *ngIf="alert.message" [type]="alert.type" (closed)="close(alert)">
      <pre [innerHTML]="alert.message"></pre>
    </ngb-alert>
  </div>
</div>
 -->

<div *ngFor="let alert of alerts">
  <div [ngClass]="setClasses(alert)">
    <button mat-icon-button (click)="close(alert)">
      <span fxFlex>
        <mat-icon style="align-self: center">clear</mat-icon>
      </span>
    </button>
    <span style="word-wrap: break-word">
      <strong>{{ alert.message }} </strong>
    </span>
  </div>
</div>
