<form [formGroup]="transferenciaForm">
  <div fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex="100" fxFlex.gt-sm="25">
      <mat-form-field appearance="outline">
        <!-- <mat-label> {{ medioPago.id === 1 ? 'Caja' : 'Cuenta Corriente' }} </mat-label> -->
        <mat-label> Cuenta Corriente: </mat-label>
        <mat-select formControlName="cajaCuentaBanco" (selectionChange)="cambiarCaja($event.value)">
          <mat-option *ngFor="let item of allCajasBanco" [value]="item">
            {{ item.nombre }}
          </mat-option>
        </mat-select>
        <mat-hint style="color: blue"> {{ banco }} </mat-hint>
        <mat-error *ngIf="transferenciaForm.get('cajaCuentaBanco')?.invalid">{{ mensajeErrorCajaCuentaBanco() }} </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
